@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

header {
    margin: 0;
    }
/*--------------------------------------------Logo*/

.logo {
    background: url("../images/baxters-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
-   -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 160px;
}   

/*--------------------------------------------General*/
.inline-block {  display: inline-block;  }



/*--------------------------------------------Colors*/

/*--------------------------------------------Footer*/
footer {
    background-color: #00B5CB;
    min-height: 120px;
    color: #ffffff;

}

.social-links {
width: 32px;
height: 32px;
padding: 12px 0;
border-radius: 50%;
font-size: 13px;
line-height: 10px;
text-align: center;
background: #742E83;
}


.footer-icons i {
width: 25px;
height: 25px;
border-radius: 50%;
font-size: 13px;
line-height: 25px;
text-align: center;
background: #742E83;  
color: #ffffff
}

.social-links i {
    color: #ffffff
}

.social-links i:hover {
    background: #e84610;
