@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

*{
    margin:0;
    padding:0;
    border:0;
}

body{
   font-family: roboto;
    color: #777777;
}

header {
    margin: 0;
    height: 130px;
    }
/*-----------------------------------------------------------------------------------------------------------------------Logo*/

#logo {
      width: 130px;
      height: 130px;   
      background-image: url("../images/baxters-logo.png");
      background-repeat: no-repeat;
      background-size: contain;
      float: left;
}   

/*--------------------------------------------------------------------------------------------------------------------Navbar*/

.navbar {
    float: right;
}

#menu {
    font-size: 115%;
}

#logo, #menu {
    line-height: 75px;
}

/*---------------------------------------------------------------------------------------------------------------Colours*/

.ui-about-colour-about {
    background-color: rgba(0, 181, 203, 0.4);   
 
}
/*-----------------------------------------------------------------------------------------------------------------------General*/

.uppercase {
    text-transform: uppercase;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
/*-------------------------------------------------------------------------------------------------------Hero Image on Home Page*/

#cover-outer {
    height: 600px;
    width: 100%;
    position: relative;
  
}

#cover-image {
     height: 600px;
     width: 100%;
     background: url("../images/baxters-pharmacy-hero.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
}

#cover-text h2 {
color: #ffffff;
font-size: 135%;
}

#cover-text {
    padding-top: 10px;
    border-radius: 10%;
    height: 220px;
    width: 220px;
    padding-top: 70px;
    padding-left: 25px;

    background-color:rgba(116, 46, 131, 0.5);

    bottom: 30px;   
    right: 150px;
    position: absolute;
}


/*-----------------------------------------------------------------------------------------------------------Services on home Page*/

#service-outer {
   display: flex;
    height: 300px;
    width: 100%;
    margin-left: 10px;
    background-color: #ffffff;
}

#serviceitem {
  display: flex;
    justify-content: space-around; 
   align-items: center; 
    width: 97%;
}

.home-services-content {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    text-align: center;
    padding-top: 35px;  
    display: flex;
    justify-content: space-around; 
}

.home-services-content {
  color: #ffffff;
    text-decoration: none;
}



#flu, #blister {
    background-color:rgba(116, 46, 131, 0.5);
}

#blood-pressure, #delivery {
    background-color:rgba(0, 181, 203, 0.5);
}

.home-services-content a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

/*---------------------------------------------------------------------------------------------------Footer*/
footer {
    background: #00B5CB;
    min-height: 120px;
    color: #ffffff;
    margin-bottom: 10px;
}


.footer-icons i {
width: 25px;
height: 25px;
border-radius: 50%;
font-size: 13px;
line-height: 25px;
text-align: center;
background: #742E83;  
color: #ffffff
}

.social-links li a i {
width: 32px;
height: 32px;
padding: 12px 0;
border-radius: 50%;
font-size: 13px;
line-height: 10px;
text-align: center;
background: #742E83;
}



.social-links i {
    color: #ffffff;

}

.email-address a {
    color: #777777;
    text-decoration: none;
}

#footer-details {
    padding: 20px;
    background-color:#00B5CB;;
}

/*-------------------------------------------------------------------------------------------------------------About Page*/

#meet-team {
    padding: 10px;
}

#about-us-text {
    padding: 10px;
}

.team {
    margin-left: 50px;
}


#teamsr {
    padding-top: 30px;
    width: 50%;
}

#teampr {
    padding-top: 30px;
    width: 50%;
}


.circle-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    align-items: center;
    margin-left: 15px;
    margin: 0 auto;
}

#circle-image-sr-bg {
    background: url("../images/pharmacistsr.png") no-repeat center center;
    height: 100%;
    border-radius: 50%;

}

#circle-image-pr-bg {
    background: url("../images/pharmacistpr.png") no-repeat center center;
    height: 100%;
    border-radius: 50%;
    
}

.about-container {
    margin-bottom: 40px;
    margin-left: 10px;
}


/*------------------------------------------------------------------------------------------------------Contact Us Page*/
.contact-heading {
    margin-top: 25px;
    margin-bottom: 25px;
}


.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #00B5CB;
}



#find-us {
     height:80%;
     width: 100%;
     background: url("../images/find-us-map.png") no-repeat center center;
     
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
}

#map {
overflow: hidden;
}

/*---------------------------------------------------------------------------------------------------------------Services Page*/

.services-page-heading {
    padding-top: 30px;
    padding-left: 16px;
    padding-right: 16px;
}

.service-page-ui {
    color:#00B5CB;
}
.service-icon-style {
    font-size: 180%;
    color:#00B5CB;
}


/* TABLET VIEW
@media screen and (max-width: 1393px){
    #service-outer {
        width: 65%;
        margin: 0 auto;

.home-services-content {
    font-size: 65%;
}

    }

    

    @media screen and (max-width: 943px){

    }


@media screen and (max-width: 943px){

    #navbar{
        clear: left;
        float: left;
        margin-left: 30px; 
        margin-bottom: 20px;
        line-height: 25px;
    }
}

    */

    @media screen and (max-width: 943px){
        #service-outer {
            
            }



    }
