@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/**{
    margin: 0;
    padding: 0;
    border: 0;
}

*/

body{
   font-family: roboto;
    color: #777777;
}

header {
    margin: 0;
    height: 130px;
    }
/*-----------------------------------------------------------------------------------------------------------------------Logo*/

#logo {
      width: 130px;
      height: 130px;   
      background-image: url("../images/baxters-logo.png");
      background-repeat: no-repeat;
      background-size: contain;
      float: left;
}   

/*--------------------------------------------------------------------------------------------------------------------Navbar*/

.navbar {
    float: right;
}

#menu {
    font-size: 115%;
}

#logo, #menu {
    line-height: 75px;
}


}

/*---------------------------------------------------------------------------------------------------------------Colours*/

.ui-about-colour-about {
    background-color: rgba(0, 181, 203, 0.4);   
 
}
/*-----------------------------------------------------------------------------------------------------------------------General*/

.uppercase {
    text-transform: uppercase;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
/*-------------------------------------------------------------------------------------------------------Hero Image on Home Page*/

#cover-outer {
    position: relative;
}

#cover-image {
     height: 600px;
     width: 100%;
     background: url("../images/baxters-pharmacy-hero.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
}

#cover-text h1 {
color: #ffffff;
font-size: 130%;
}

#cover-text {
    padding-top: 10px;
    
    height: 220px;
    width: 220px;
    padding-top: 60px;
    padding-left: 20px;

    background-color:rgba(116, 46, 131, 0.5);

    bottom: 10px;
    right: 90px;
    position: absolute;

}


/*-----------------------------------------------------------------------------------------------------------Services on home Page*/

#serviceitem div {
    width: 25%;
    height: 200px;
    float: left;
    text-align: center;
    padding-top: 35px;  
}

#flu {
    background-color:rgba(116, 46, 131, 0.5);
}

#blood-pressure {
    background-color:rgba(0, 181, 203, 0.5);
}

#blister {
    background-color:rgba(116, 46, 131, 0.5);
}

#delivery {
    background-color:rgba(0, 181, 203, 0.5);
}

.serviceitem div {
    color: #ffffff;
    text-decoration: none;
    ;
}

.home-servvices-content a {
    color: #ffffff;
    text-decoration: none;
    font-size: 22px;
}

/*---------------------------------------------------------------------------------------------------Footer*/
footer {
    background: #00B5CB;
    min-height: 120px;
    color: #ffffff;
    margin-bottom: 10px;
}


.footer-icons i {
width: 25px;
height: 25px;
border-radius: 50%;
font-size: 13px;
line-height: 25px;
text-align: center;
background: #742E83;  
color: #ffffff
}

.social-links li a i {
width: 32px;
height: 32px;
padding: 12px 0;
border-radius: 50%;
font-size: 13px;
line-height: 10px;
text-align: center;
background: #742E83;
}



.social-links i {
    color: #ffffff;

}

.email-address a {
    color: #777777;
    text-decoration: none;
}

#footer-details {
    padding: 20px;
    background-color:#00B5CB;;
}

/*-------------------------------------------------------------------------------------------------------------About Page*/

.about-us .team {
    padding-top: 30px;
    padding-left: 16px;
    padding-right: 16px;
}



#teamsr {
    padding-top: 30px;
    width: 50%;
}

#teampr {
    padding-top: 30px;
    width: 50%;
}


.circle-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    align-items: center;
    margin-left: 15px;
}

#circle-image-sr-bg {
    background: url("../images/pharmacistsr.png") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#circle-image-pr-bg {
    background: url("../images/pharmacistpr.png") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

.about-container {
    margin-bottom: 40px;
    margin-left: 10px;
}


/*------------------------------------------------------------------------------------------------------Contact Us Page*/
.contact-heading {
    margin-top: 25px;
    margin-bottom: 25px;
}


.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #00B5CB;
}



#find-us {
     height:80%;
     width: 100%;
     background: url("../images/find-us-map.png") no-repeat center center;
     overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     
}


/*---------------------------------------------------------------------------------------------------------------Services Page*/

.services-page-heading {
    padding-top: 30px;
    padding-left: 16px;
    padding-right: 16px;
}

.service-page-ui {
    color:#00B5CB;
}
.service-icon-style {
    font-size: 180%;
    color:#00B5CB;
}

